My IGate Web Basics/My Demo Web Basic/XML-Lect Demo/Examples With XSD/XML NameSpace/001-song.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.music.org/album"
    elementFormDefault="qualified">
 >
	<xs:element name="song">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="catagory" type="xs:string"/>
				<xs:element name="artist" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
