My IGate Web Basics/My Demo Web Basic/XML-Lect Demo/Examples With XSD/020-Choice-Group/all.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/aa" xmlns:tns="http://www.example.org/aa" elementFormDefault="qualified">
<xs:element name="person">
  <xs:complexType>
    <xs:all minOccurs="0">
      <xs:element name="firstname" type="xs:string"/>
      <xs:element name="lastname" type="xs:string"/>
    </xs:all>
  </xs:complexType>
</xs:element> 
</xs:schema>