My IGate Web Basics/My Demo Web Basic/XML-Lect Demo/Examples With DTDS/004-Order(With Attribute)/001-order.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT orders (order+)>
<!ELEMENT order (orderid,customername,orderdate,salesperson,shippingaddress)>
<!ELEMENT orderid (#PCDATA)>
<!ELEMENT customername (#PCDATA)>
<!ATTLIST  customername year  CDATA #REQUIRED>
<!ELEMENT orderdate (#PCDATA)>
<!ELEMENT salesperson (#PCDATA)>
<!ELEMENT shippingaddress (#PCDATA)>